.App {
  text-align: center;
}

h4 {
  margin: 5px;
}

.App-header {
  background-color: #222;
  height: 12px;
  padding: 20px;
  color: white;
  margin-bottom: 15px;
}

.App-title {
  margin: 0;
  font-size: 20px;
}

.selected {
  color: red;
}

.tg {
  border-collapse: collapse;
  border-spacing: 0;
}

.tg td {
  padding: 0 1px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  word-break: normal;
}

.tg th {
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding: 5px 5px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  word-break: normal;
}

.tg .tg-yw4l {
  vertical-align: center;
}

.floor-display {
  background-color: yellow;
  height: 40px;
  width: 35px;
  margin-left: 15px; 
  color: white;
}

.button-display {
 background-color: greenyellow;
  height: 22px;
  width: 22px;
  color: white;
}

/* .button-panel {
  display: inline-block;
  display: flex;
  flex-wrap: wrap;
  height: 100px;
  width: 200px;
  color: white;
  justify-content: space-around;
} */

.button-indicators {
  display: flex;
  height: 50px;
  width: 100%;
  color: white;
  justify-content: space-around;
}

.up-down-indicator {
  background-color: rgb(70, 70, 70);
  margin-right: 30px;
  height: 50px;
  width: 50px;
  color: white;
  border-radius: 10px; 
}

.open-closed-indicator {
  background-color: rgb(42, 42, 42);
  height: 50px;
  width: 50px;
  color: white;
  border-radius: 10px;
}

.button-item {
  /* background-color: whitesmoke; */
  height: 50px;
  width: 50px;
  margin: 1px;
  border-radius: 50px;
  /* color: black; */
}

.elevator-one-holder {
  display: inline-block;
  background-color: #ccc;
  height: 620px;
  min-width: 155px;
}

.elevator-two-holder {
  display: inline-block;
  background-color: rgb(212, 212, 212);
  height: 852px;
  min-width: 155px;
}

.elevators {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.building-button {
  background-color: green;
}